@media (max-width: 500px){
  body{
    height: 100vh;
  }
  .navbar {
    flex-direction: column;
    height: 110px;
  }
  .navbar img{
    margin-top: 12px;
  }
  .navbar ul{
    align-content: center;
  }

  .navbar a{
    height: 20px;
    padding: 0 40px 35px 40px;
  }
  #container{
    max-width: 350px;
  }
  h1{
    font-size: 2.7rem;
  }
  .form-container p{
    font-size: 1.4rem;
  }
  #cadastro {
    font-size: 1.2rem;
  }
}
@media (min-width: 501px) and (max-width: 768px){
  #container{
    max-width: 460px;
  }
  h1{
    font-size: 3.2rem;
  }
  .form-container p{
    font-size: 1.5rem;
  }
  #cadastro {
    font-size: 1.3rem;
  }
}